* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-size: 16px;
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.container {
  height: 100%;
  width: 80%;
  margin: auto;
  background: #f4f4f4;
  display: grid;
  place-items: center;
}

.game-box {
  width: 80%;
  padding-bottom: 1rem;
  background: #333;
  box-shadow: -1px 1px 3px 3px rgba(0, 0, 0, 0.15),
    1px -1px 3px 3px rgba(0, 0, 0, 0.15);
}

.upper-rect {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image {
  width: 30%;
}

#game-title {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px dashed #f4f4f4;
  color: orangered;
  text-transform: uppercase;
  font-size: 1.4rem;
}

p#goal {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  color: orangered;
  letter-spacing: 1.5rem;
}

.main-rect {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  position: relative;
}

.main-rect button#start {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lower-rect {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: top;
  justify-content: space-between;
  border-top: 1px dashed #f4f4f4;
}

.user-input {
  padding-left: 7rem;
  text-align: center;
  margin-top: 2rem;
}

.user-input label {
  display: block;
  margin-bottom: 0.3rem;
  color: #f4f4f4;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.user-input input {
  padding: 0.3rem 0;
  text-align: center;
  text-transform: uppercase;
  color: orangered;
  font-weight: bold;
  font-size: 1.2rem;
  width: 60%;
}

.button-style {
  display: block;
  padding: 0.3rem 0.8rem;
  width: 60%;
  cursor: pointer;
  margin: 0.8rem auto;
  text-transform: uppercase;
  color: #f4f4f4;
  background: none;
  border: 1px solid #f4f4f4;
  font-size: 1.2rem;
}

.button-style:hover {
  color: orangered;
  border: 1px solid orangered;
  box-shadow: -1px 1px 3px 3px rgba(0, 0, 0, 0.15),
    1px -1px 3px 3px rgba(0, 0, 0, 0.15);
  transform: scaleX(1.02);
  transition: all ease-in 0.1s;
}

.button-style:focus {
  outline: 1px solid orangered;
}

.user-input input:focus {
  outline: 2px solid orangered;
}

.previous-guesses {
  padding-right: 7rem;
  margin-top: 2rem;
  text-align: center;
}

.previous-guesses :first-child {
  color: #f4f4f4;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

#disp-prev {
  color: orangered;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/******* Modal Styling ********/
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
  opacity: 1;
  transition: 1s all;
}

.modal-message {
  position: relative;
  background: rgba(51, 51, 51, 1);
  width: 30%;
  height: 40%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 1rem;
  text-align: center;
  border: 1px solid orangered;
  color: white;
}

.modal-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.modal-note {
  margin: 0.2rem 0 2rem;
  font-size: 1.3rem;
}

.modal-note-goal {
  text-transform: uppercase;
  color: orangered;
}
